
@{
    ViewData["Title"] = "CampaignView";
}


<h2>Campaign Detailed View</h2>
<h2>Campaign Name: @Model.CurrentCampaignDescription.Name</h2>




<h4>Links:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Optional</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.CurrentCampaignDescription.Links)
        {
            var route = "ComponentPage/" + @item.Name;
            <tr>

                <td>@item.Name</td>
                <td>@item.Optional</td>
                <td>@item.Reference</td>
            </tr>
        }
    </tbody>
</table>


<h4>Methods:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Visibility</th>
            <th>Reference</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.CurrentCampaignDescription.Methods)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Visibility</td>
                <td>@item.Reference</td>
            </tr>
        }
    </tbody>
</table>


@if (Model.CurrentParameters != null)
{


    <h4>Parameters:</h4>


    <p>Source file: @Model.CurrentParameters.CampaignDescription.Reference</p>



    <table class="table table-striped">
        <thead>
            <tr>

                <th>Reference</th>
                <th>ID</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var device in Model.CurrentParameters.Device)
            {
                <tr>
                    <td>@device.Reference</td>
                    <td></td>
                    <td></td>
                </tr>
                @if (device.Parameter != null)
                {
                    @foreach (var item in device.Parameter)
                    {
                        <tr>
                            <td></td>
                            <td>@item.ID</td>
                            <td>@item.Value</td>
                        </tr>
                    }}
            }
        </tbody>
    </table>

}